iframe {
    border-bottom: 0.25rem solid #fc0;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    iframe {
      min-height: 20rem;
    }
  }

@media screen and (min-width: 768px) {
    iframe {
      min-height: 30rem;
    }
  }

  @media screen and (min-width: 1200px) {
    iframe {
      min-height: 40rem;
    }
  }